In [5]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [11]:
#this is a chunk of csv file with 100,000 rows
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [12]:
# df is the next chunk of df_iter in the csv file
df = next(df_iter)

In [13]:
len(df)

100000

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [17]:
#create a table 'yellow_taxi_data' with colummns name is df.head(n=0)
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [18]:
# insert a chunk to the table
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.17 s
Wall time: 12.6 s

1000

In [19]:
from time import time

In [20]:
#insert all the chunk to the table
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('insterted all chunks to the table. took %.3f seconds' %(t_end - t_start))

insterted all chunks to the table. took 9.432 seconds
insterted all chunks to the table. took 9.343 seconds
insterted all chunks to the table. took 8.883 seconds
insterted all chunks to the table. took 8.830 seconds
insterted all chunks to the table. took 9.040 seconds
insterted all chunks to the table. took 10.430 seconds
insterted all chunks to the table. took 9.570 seconds
insterted all chunks to the table. took 9.652 seconds
insterted all chunks to the table. took 13.134 seconds
insterted all chunks to the table. took 13.283 seconds
insterted all chunks to the table. took 14.080 seconds

C:\Users\ACER\AppData\Local\Temp\ipykernel_21580\533605749.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insterted all chunks to the table. took 13.798 seconds
insterted all chunks to the table. took 9.248 seconds

StopIteration:

In [11]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-06-12 21:21:16--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.237.85, 52.217.130.248, 52.217.103.158, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.237.85|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 1,58M=0,007s

2023-06-12 21:21:17 (1,58 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [12]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [13]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df_zones.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [17]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265